<div class="row">
  <div class="col-md-3 space_left">
    <h1>rss channels</h1>
      <li class="list-group-item pointer" *ngFor="let Channel of channelsList" (click)="selectChannel(Channel)" >

            <div (mouseenter)="onHovering(Channel)">name : {{ Channel.name}}</div>
            <div  *ngIf="hovers[Channel.id]">url : {{ Channel.url}}</div>

      </li>
      <form (ngSubmit)="onSubmit()" >
        <div class="form-group" class="col-sm-11">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control"
                   [(ngModel)]="channelToSave.name" name="name" >
        </div>
        <div class="form-group" class="col-sm-11">
              <label for="url">Url</label>
              <input type="text" id="Url" class="form-control"
                     [(ngModel)]="channelToSave.url" name="url" >
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-7 space ">
            <button type="submit" class="btn btn-default">Add channel</button>
          </div>
        </div>
      </form>
  </div>

      <my-channel #myProfile [selectedChannel]='selChannel' (onDelete)="onDelete($event)"></my-channel>

</div>
